apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: {{PROJECT_NAME}}-cluster
servers: 1
agents: 0
ports:
  - port: 8081:80
    nodeFilters:
      - loadbalancer
options:
  k3d:
    wait: true
    timeout: "60s"
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*
